.big-button{
    background-color: $purple;
    border: none;
    border-bottom: .6rem solid darken($color:$purple, $amount: 10);
    color:white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $xl-size;
    padding: 2.4rem;
    cursor: pointer;
    
}
.big-button:hover{
    background-color: #4c004c;
    border-bottom: 0.6rem solid #330033;
}

.remove-button{
    background-color: $purple;
    outline: none;
    border: none;
    border-bottom: 0.6rem solid darken($color: $purple, $amount: 10);
    color: white;
    font-weight: bold;
    font-size: $font-size;
    padding: 1rem;
    cursor: pointer;
    max-height: 50px;
    
    margin-top: auto;
    // pad
}

.remove-button:hover{
    background-color: #cc0000;
    border: none;
    border-bottom: 0.6rem solid #990000;

}

.add-button:hover{
    background-color: #37e237 ;
    border-bottom: 0.6rem solid #038303;

}

.add-button{
    background-color: $purple;
    border: none;
    color: white;
    font-weight: bold;
    font-size: $font-size;
    border-bottom: .6rem solid darken($color:$purple, $amount: 10);
    cursor: pointer;
    padding: 1rem;
}