

.header{
 background:$off-black;   
 color: whitesmoke;
 margin-bottom: $xl-size;
 padding: $font-size 0;

  
}

.header__title{
    font-size: $l-size;
    margin: 0;
}

.header__subtitle{
    color: $off-white;
    font-size: $font-size;
    font-weight: 500;
    margin: 0;
}