.ReactModalPortal > div{
opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
    // transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    
    opacity: 0;
}

.modal{
    background-color: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal_title{
    margin: 0 0 $font-size 0;
}

.modal_body{
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;
    margin: 0 0 $l-size 0
}