.option{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: none;
    border-bottom: 0.1rem solid #808080;
    

}



.items{
    color: white;
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
    padding-top: 1.1rem;
    
}
