//header
.widget-header{
    background-color: $blue;
    color: #bec2ff;
    padding: $font-size;
    display: flex;
    justify-content: space-between;
}

.widget{
    background-color: $light-blue;
    margin-bottom: $l-size;
}

h3{
    // color: white;
    // text-align: center;
    padding-top: 1.1rem;
    margin: 0;
}

._option{
    text-align: center;
    font-size: $l-size;
    font-weight: bold;
    color: #bec2ff;
    // padding-left: 5rem;
    border: none;
    border-bottom: 0.1rem solid #808080;
    padding-bottom: 2rem;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    color: $off-white;

}
@media(min-width:45rem){
.forms{
    flex-direction: row;
}
}