

html{
    font-size:62.5%
}

body{
    font-family:  Helvetica, Arial,sans-serif;
    font-size: $font-size;
    background: $body-bg;
    background-color:$body-bg
    
}

button:hover{
    background-color: $light-blue;
}

input{
    flex-grow: 0.98;
    color: white;    
    background-color:$off-black ;
    padding: 1.2rem;
}
input::placeholder{
    color: rgb(131, 122, 122);
    font-weight: 590;
    font-style: italic;
    outline: none;
    border: none;
}

